<h1>Hello To Bitly</h1>
<p>Please key in your URL below</p>

<form action="/urls" method="post">
	Enter URL:
	<input type = "text" name="long_url" placeholder = "Type here!!">
	<input type = "submit" value="Submit">
</form>

<% unless url == '' %>
	<p> Shortened result: <%=url %></p>
<% end%>