<!DOCTYPE html>

<html>
	<head>
		<title>WELCOME TO SimPLi-FLY</title>
		<p></p>
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	

	<body background='green.png'>
		<div>
		<h1 style="color:blue;">
			WELCOME TO SIM-PLI-FY </h1>
		<p>
			Where Your Life Being Simplified
			<a href="https://bitly.com/">More information:</a>
		</p>
			<center><img src="/img/download.jpeg" width:100% height:100%></center>

			<%=yield%>
	
	</body>
<div>
	<footer>
		<p>@2016.04.19 Handmade in Malaysia</p>
		<p>COPYRIGHT BEH-1987</p>
	</footer>
</div>

</html>
